/* Tufte ripoff */
html {
	font-size: 15px;
    font-family: cantarell;
}

body {
	/*margin-left: auto;
	margin-right: auto;
	padding-left: 12.5%;*/
	/*text-align: center;*/
	margin: 5% 20% 5% 20%;
	max-width: 1400px;
	background-color: #222;
	color: #fff;
	counter-reset: sidenote-counter;
}

h1, nav, footer {
	text-align: center;
}

h1{
	font-style: italic;

}

footer > p {
	text-align: center;
}

nav a{
    font-size: 35px;
	background-color: #444;
	border-radius: 12px;
	text-decoration: none;
	margin-left: 2%;
}

nav a:hover{
    background-color: #777;
    font-size: 37px;		      
}

footer > a {
	font-size: 1.5rem;
}

/*h2, h3, p, ul, ol, dl {
	text-align: left;
}

img {
	float: left;
}*/

h1 {
	font-weight: 500;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	font-size: 5.2rem;
	line-height: 1;
}

h2 {
	font-style: italic;
	font-weight: 400;
	margin-top: 2.1rem;
	margin-bottom: 1.4rem;
	font-size: 2.2rem;
	line-height: 1;
}

h3 {
	font-style: italic;
	font-weight: 400;
	font-size: 1.7rem;
	margin-top: 2rem;
	margin-bottom: 1.4rem;
	line-height: 1;
}

hr {
	display: block;
	height: 1px;
	width: 55%;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	padding: 0;
}

p.subtitle {
	font-style: italic;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.8rem;
	display: block;
	line-height: 1;
}

.postdate {
	text-align: left;
}

article {
	padding: 5rem;
	background-color: #000;
	border: 2px solid #fff;
	/*display: inline-block;*/
}

#geometry{
    display: block;
    margin: 0px auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

p, dl, ol, ul {
	font-size: 1.4rem;
	line-height: 2rem;
}

p {
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	padding-right: 0;
	vertical-align: baseline;
}

div.epigraph {
	margin: 5em 0;
}

div.epigraph > blockquote {
	margin-top: 3em;
	margin-bottom: 3em;
}

div.epigraph > blockquote, div.epigraph > blockquote > p {
	font-style: italic;
}

div.epigraph > blockquote > footer > cite {
	font-style: italic;
}

blockquote {
	font-size: 1.4rem;
}

blockquote p {
	width: 55%;
	margin-right: 40px;
}

blockquote footer {
	width: 55%; /*100*/
	font-size: 1.1rem;
	text-align: right;
}

table, th, td {
  border: solid;
  border-collapse: collapse;
  background: #000;
  padding: 15px;
}

section > p, section > footer, section > table, section > ol, section > ul {
	width: 55%;
}

a:link {
	color: #ffffaa;
}

a:visited {
	color: #f3333f;
}

.fullwidth {
	width: 100%;
	max-width: 90%;
	clear: both;
}

code, pre > code {
	font-size: 1.0rem;
	line-height: 1.42;
}

pre > code {
	font-size: 0.9rem;
	/*width: 52.2%;*/
	margin-left: 2.5%;
	overflow-x: auto;
	display: block;
}

pre.fullwidth > code {
	width: 90%;
}

/* Sidenotes, margin notes, figures, captions */
img {
	max-width: 100%;
}

.sidenote, .marginnote {
	float: right;
	clear: right;
	margin-right: -60%;
	width: 50%;
	margin-top: 0.3rem;
	margin-bottom: 0;
	font-size: 1.1rem;
	line-height: 1.3;
	vertical-align: baseline;
	position: relative;
}

.sidenote-number {
	counter-increment: sidenote-counter;
}

.sidenote-number:after, .sidenote:before {
	position: relative;
	vertical-align: baseline;
}

.sidenote-number:after {
	content: counter(sidenote-counter);
	font-size: 1rem;
	top: -0.5rem;
	left: 0.1rem;
}

.sidenote:before {
	content: counter(sidenote-counter) " ";
	font-size: 1rem;
	top: -0.5rem;
}

blockquote .sidenote, blockquote .marginnote {
	margin-right: -82%;
	min-width: 59%;
	text-align: left;
}

div.fullwidth, table.fullwidth {
	width: 100%;
}

div.table-wrapper {
	overflow-x: auto;
	font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

h1 > code, h2 > code, h3 > code {
	font-size: 0.80em;
}

.marginnote > code, .sidenote > code {
	font-size: 1rem;
}

pre > code {
	font-size: 0.9rem;
	/*width: 52.5%;*/
	margin-left: 2.5%;
	overflow-x: auto;
	display: block;
}

pre.fullwidth > code {
	width: 90%;
}

input.margin-toggle {
	display: none;
}

label.sidenote-number {
	display: inline-block;
	max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
	display: none;
}

/* Begin custom stuff */
.profilepic {
	float: right;
	clear: left;
	margin-left: 0%;
	padding-right: 5%;
	width: 50%;
	margin-top: 0.3rem;
	margin-bottom: 0;
	font-size: 1.1rem;
	line-height: 1.3;
	vertical-align: baseline;
	position: relative;
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons a {
	background: unset;
}

.blogpeek {
	width: 90%; /*max-content;*/
	border: ridge; 
	padding: 0.5em;
}

.tablewrapper {
	display: inline-block;
	width: 90%;
	overflow-x: auto;
}

.tablewrapper img {
	height: 1em;
}

.tablewrapper table, .tablewrapper th, .tablewrapper tr, .tablewrapper td {
	padding: 0.1em;
}

nav a:link, nav a:visited {
	color: #fff;
}

.heaventree a {
	text-decoration: none;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #151515;
		/* background-image: url(/tile-inv.jpg); */
		color: #ddd;
	}
	article {
		background-color: #151515;
	}
	nav a:link, nav a:visited {
		color: #ddd;
	}
	table, th, td {
		background-color: #444446;
	}
}

/* handle small screens */
@media (max-width: 760px) {
	html {
		font-size: 10px;
	}
	body {
		/*width: 84%;
		padding-left: 8%;
		padding-right: 8%;*/
		margin: 5%;
	}

	article {
		padding: 1.25rem;
	}

	hr, section > p, section > footer {
		width: 100%;
	}

	section > dl, section > ol, section > ul {
		width: 90%;
	}

	table, th, td {
		border: solid;
	}
	nav {
		font-size: 2.5em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		white-space: nowrap;
	}

	.heaventree {
		text-align: center;
		font-size: 2.5em;
	}

	p.subtitle, .postdate, footer {
		text-align: center;
	}

	pre > code {
		width: 97%;
	}

	figure {
		max-width: 90%;
	}

	figcaption {
		margin-right: 0%;
		max-width: none;
	}

	blockquote {
		margin-left: 1.5em;
		margin-right: 0em;
	}

	blockquote p, blockquote footer {
		width: 100%;
	}

	label.margin-toggle:not(.sidenote-number) {
		display: inline;
	}

	.sidenote, .marginnote {
		display: none;
	}
	.margin-toggle {
		color: blue;
		text-decoration: underline;
	}
	@media (prefers-color-scheme: dark) {
		.margin-toggle {
			color: aqua;
		}
	}
	.margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative;
	}

	label {
		cursor: pointer;
	}

	div.table-wrapper, table {
		width: 85%;
	}

	.profilepic {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative;
	}
	.buttons {
		max-width: 100%;
	}
	.buttons img {
		width: 88px;
	}
	.blogpeek {
		width: 90%;
		margin: 0 auto;
	}
}
